body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 100%;
  color: #40514E;
}

h1 {
  color: #34209b;
  font-size: 3.000rem;
  font-family: 'Montserrat', sans-serif;
  line-height: 2;
  margin: 50px auto 0 auto;
}

h2 {
  color: #34209b;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #34209b;
}

p {
  line-height: 2;
}

hr {
  border: dotted #EAF6F6 8px;
  border-bottom: none;
  width: 5%;
  margin: 150px auto;
}

a {
  color: #34209b;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #34209b;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.intro {
  width: 40%;
  margin: auto;
}

.top-container {
  background-color: #f5f5f5;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #f5f5f5;
  padding: 50px 0 20px;
}

.buttom-cloud {
  position: absolute;
  left: 300px;
  bottom: 500px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 100px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.left-img {
  float: left;
  margin-right: 30px;
}

